@use '/src/sass/base/variables.scss' as *;

.contacts {
    padding-bottom: 10px;
    background: linear-gradient(to top, #633A3B, #7D4F50, #9B6B6C);
    margin: 0;
    .divider {
        background-color: #fff;
    }
    &__title {
        margin: 10px auto;
        text-align: center;
        font-size: 16px;
        color: #FFF;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
        }
    }
    &__social {
        display: flex;
        width: 165px;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}