@use '/src/sass/base/variables.scss' as *;

.contacts {
    padding-bottom: 10px;
    background: linear-gradient(to top, #633A3B, #7D4F50, #9B6B6C);
    margin: 0;
    .divider {
        background-color: #fff;
    }
    &__title {
        margin: 10px auto;
        text-align: center;
        font-size: 16px;
        color: #FFF;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
        }
    }
    &__social {
        display: flex;
        width: 165px;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .contacts {
        &__title {
            font-size: 28px;
        }
        &__wrap {
            a {
                font-size: 16px;
            }
        }
        &__social {
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}